@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Italianno&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    background-image: url(image/Banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: "Italianno", cursive;
    color: #fff;
    font-size: 45px;
}

.h1 {
    color: #0056C7;
    font-size: 50px;
}

header {
    background: linear-gradient(to right, #89898980, #25242476);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin:2%;
    border-radius: 20px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav {
    margin-left: 10%;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nava {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
}

h2 {
    font-family: "Italianno", cursive;
    color: #fff;
    font-size: 35px;
}

h3 {
    font-family: "Italianno", cursive;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

h6 {
    font-family: "Italianno", cursive;
    color: #fff;
    font-size: 20px;
}

.h6 {
    color: #0056C7;
    font-size: 25px;
}

footer {
    background: linear-gradient(to right, #89898980, #25242476);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin:2%;
    border-radius: 20px;

}

.logof {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logofimg {
    width: 50px;
    height: auto;
}

.bx-wrapper {
    width: 775px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.blockbtn {
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border: 3px solid #0056C7;
    background: linear-gradient(to right, #00b3ffe0, #00ffee63);
    color: #fff;
    font-family: "Italianno", cursive;
}

.blockbtn:hover {
    background: linear-gradient(to right, #0066ff8d, #7700ff61);
    transition: 0.3s;
}

.btna {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: "Italianno", cursive;
}